/*********************************************\
	$CREDITCARD
\*********************************************/
.creditcard {
	width: 385px;
	height: 240px;
	margin: auto;
	background: #333;
	border-radius: 10px;
	position: relative;
	-webkit-transition:0.2s background ease-in-out;
	-moz-transition:0.2s background ease-in-out;
	-ms-transition:0.2s background ease-in-out;
	-o-transition:0.2s background ease-in-out;
	transition:0.2s background ease-in-out;
}
	.creditcard input {
		color: #FFF;
		background: none;
		border:0px;
		border-bottom: 1px solid rgba(0,0,0,0.25);
		padding:0px 10px 0px 10px;
		font-size: 18px;
		font-family: "Courier New", monospace;
		outline:0px !important;
    	-webkit-appearance:none;
	}

	.creditcard input::-webkit-input-placeholder {
	   color: #FFF;
	}

	.creditcard input:-moz-placeholder { /* Firefox 18- */
	   color: #FFF;  
	}

	.creditcard input::-moz-placeholder {  /* Firefox 19+ */
	   color: #FFF;  
	}

	.creditcard input:-ms-input-placeholder {  
	   color: #FFF;  
	}

	.creditcard .creditcard-number,
	.creditcard .creditcard-cvc {
		position: absolute;
		top: 130px;
		left: 20px;
		width: 230px;
	}
	.creditcard .creditcard-cvc {
		left: 270px;
		width: 94px;
		text-align: center;
	}

	.creditcard .creditcard-name {
		position: absolute;
		top: 180px;
		left: 20px;
		width: 200px;
	}

	.creditcard .creditcard-exp-month, 
	.creditcard .creditcard-exp-year {
		position: absolute;
		top: 180px;
		left:240px;
		width: 52px;
		text-align: center;
	}
	.creditcard .creditcard-exp-year {
		left: 312px;
	}

	/*******************************************************\
		$CREDITCARD-BRANDS
	\*******************************************************/
	
	.creditcard.visa,
	.creditcard.mastercard,
	.creditcard.americanexpress,
	.creditcard.discover {
		color:#FFF;
	}

	.creditcard .creditcard-logo {
		position: absolute;
		width: 100px;
		top: 20px;
		right: 20px;
		opacity: 0.0;
		-webkit-transition:0.2s opacity ease-in-out;
		-moz-transition:0.2s opacity ease-in-out;
		-ms-transition:0.2s opacity ease-in-out;
		-o-transition:0.2s opacity ease-in-out;
		transition:0.2s opacity ease-in-out;
	}

	.creditcard.visa {
		background: #1261A0;
	}
		.creditcard.visa .creditcard-logo.visa {
			opacity: 1.0
		}
	.creditcard.mastercard {
		background: #F9B24C;
	}
		.creditcard.mastercard .creditcard-logo.mastercard {
			opacity: 1.0
		}
	.creditcard.americanexpress {
		background: #36AEE3;
	}
		.creditcard.americanexpress .creditcard-logo.americanexpress {
			opacity: 1.0
		}
	.creditcard.discover {
		background: #EF6E3F;
	}
		.creditcard.discover .creditcard-logo.discover {
			opacity: 1.0
		}