<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Credit Card Form</title>

    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.js"></script> 
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>
	<script type="text/javascript" src="../js/ng-credit-card.js"></script>
	<script type="text/javascript" src="./controllers.js"></script>
	<link rel="stylesheet" type="text/css" href="../css/creditcard.css">

</head>
<body ng-app="Test" ng-controller="TestCtrl">
	<br /><br />

	<form name="cardForm">
		<ng-credit-card image-directory="../img" card='card' cvc='cvc' card-holder-name='name' exp-month='month' exp-year='year'></ng-credit-card>
	</form>
	
	<br />
	<ul style="width:350px;margin-left:auto;margin-right:auto;">
	  <li ng-repeat="(key, errors) in cardForm.$error track by $index"> <strong>{{ key }}</strong> errors
	    <ul>
	      <li ng-repeat="e in errors">{{ e.$name }} has an error: <strong>{{ key }}</strong>.</li>
	    </ul>
	  </li>
	</ul>
	<ul style="width:350px;margin-left:auto;margin-right:auto;">
		<li><strong>Controller Values</strong></li>
		<ul>
			<li>Card: {{card}}</li>
			<li>CVC: {{cvc}}</li>
			<li>Cardholder's Name: {{name}}</li>
			<li>Expiration Month: {{month}}</li>
			<li>Expiration Year: {{year}}</li>
		</ul>
	</div>
</body>
</html>
